<div class="modal fade" id="nxModal" tabindex="-1" role="dialog" aria-labelledby="nxModalTitle">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="nxModalTitle">Formulario</h4>
      </div>
      <div class="modal-body" id="nxModalBody">
        <div class="nx-modal-loading text-center" style="padding:28px;color:#64748b">
          <i class="fa fa-spinner fa-spin"></i> Cargando…
        </div>
      </div>
    </div>
  </div>
</div>
