{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="x_panel">
  <div class="x_title"><h2>{{ title }}</h2><div class="clearfix"></div></div>
  <form method="post" class="nx-form-grid" enctype="multipart/form-data">{% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field.errors }}
        {{ field }}
      </div>
    {% endfor %}
    <div class="nx-form-actions">
      <button class="btn btn-success" type="submit">Guardar</button>
      <a class="btn btn-default" href="{% url 'activos:list' %}">Cancelar</a>
    </div>
  </form>
</div>
{% endblock %}
